@if (includeTargets)
{
    <h2>Used in</h2>
}
else
{
    <h2>Breeds</h2>
}
<table class="Breed">
    <thead>
        <tr>
            <th>Base</th>
            <th>Mate</th>
            @if (includeTargets)
            {
                <th>Offspring</th>
            }
        </tr>
    </thead>
    @foreach (var breed in breeds ?? [])
    {
        if (breed is not null && breed.Bases is not null && breed.Bases.Length > 0 && breed.Mates is not null && breed.Mates.Length > 0)
        {
            <tr>
                <td>
                    <ul class="Possibilities">
                        @foreach (var b in breed.Bases.Where(b => b.Type == BreedRequirementType.Family).OrderBy(b => b.Name))
                        {
                            <li>
                                <a href=@($"/family/{Uri.EscapeDataString(b.Name!.ToString() ?? string.Empty)}")>
                                    @(b.Name!.ToJsonString())
                                </a>
                            </li>
                        }
                        @foreach (var b in breed.Bases.Where(b => b.Type == BreedRequirementType.Monster).OrderBy(b => b.Monster?.Id))
                        {
                            <li>
                                <a href=@($"/monster/{Uri.EscapeDataString(b.Monster!.Name)}")>
                                    @(b.Monster!.Name)
                                </a>
                            </li>
                        }
                    </ul>
                </td>
                <td>
                    <ul class="Possibilities">
                        @foreach (var m in breed.Mates.Where(m => m.Type == BreedRequirementType.Family).OrderBy(m => m.Name))
                        {
                            <li>
                                <a href=@($"/family/{Uri.EscapeDataString(m.Name!.ToString() ?? string.Empty)}")>
                                    @(m.Name!.ToJsonString())
                                </a>
                            </li>
                        }
                        @foreach (var m in breed.Mates.Where(m => m.Type == BreedRequirementType.Monster).OrderBy(m => m.Monster?.Id))
                        {
                            <li>
                                <a href=@($"/monster/{Uri.EscapeDataString(m.Monster!.Name)}")>
                                    @(m.Monster!.Name)
                                </a>
                            </li>
                        }
                    </ul>
                </td>
                @if (includeTargets)
                {
                    <td>
                        <a href=@($"/monster/{Uri.EscapeDataString(breed.Target.Name)}")>
                            @breed.Target.Name
                        </a>
                    </td>
                }
            </tr>
        }
    }
</table>
