@if (dataLoaded)
{
    <div class="row SkillInfo justify-content-lg-center align-content-lg-center text-start mb-3">
        <div class="col-12 col-md-5 col-lg-4 col-xl-3 mb-3">
            <section>
                <div class="row align-items-center mb-3">
                    <h3 class="col-5 mb-0">Type</h3>
                    <span class="col-7">
                        <a href=@($"/skill/type/{Uri.EscapeDataString(skill!.Type.ToString())}")>
                            @(skill.Type.ToJsonString())
                        </a>
                    </span>
                </div>
                <div class="row align-items-center mb-3">
                    <h3 class="col-5 mb-0">Category</h3>
                    <span class="col-7">
                        @if (skill.Category is not null)
                        {
                            <a href=@($"/skill/category/{Uri.EscapeDataString(skill?.Category?.ToString() ?? string.Empty)}")>
                                @(skill!.Category.ToJsonString())
                            </a>
                        }
                        else
                        {
                            <a href=@($"/skill/category/{Uri.EscapeDataString(SkillCategory.NONE.ToString())}")>
                                @(SkillCategory.NONE.ToJsonString())
                            </a>
                        }
                    </span>
                </div>
                <div class="row align-items-center mb-3">
                    <h3 class="col-5 mb-0">Attribute</h3>
                    <span class="col-7">
                        @if (skill.Attribute is not null)
                        {
                            <a href=@($"/skill/attribute/{Uri.EscapeDataString(skill?.Attribute?.ToString() ?? string.Empty)}")>
                                @(skill!.Attribute.ToJsonString())
                            </a>
                        }
                        else
                        {
                            <a href=@($"/skill/attribute/{Uri.EscapeDataString(SkillAttribute.NONE.ToString())}")>
                                @(SkillAttribute.NONE.ToJsonString())
                            </a>
                        }
                    </span>
                </div>
                <div class="row align-items-center">
                    <h3 class="col-12 mb-0">Description</h3>
                    <p class="col-12">
                        @if (!string.IsNullOrWhiteSpace(skill.Description))
                        {
                            @(skill.Description)
                        }
                        else
                        {
                            <b>N/A</b>
                        }
                    </p>
                </div>
            </section>
        </div>
        <div class="col-12 col-md-7 col-lg-6 col-xl-5 mb-3">
            <section>
                <div class="row mb-3">
                    <h3 class="mt-0">Requirements</h3>
                    <SkillRequirementsComponent skills=@([skill]) />
                </div>
                <div class="row">
                    <h3>Upgrade Path</h3>
                    <SkillUpgradePathComponent upgradeGroup=@(upgradeGroup) currentSkill=@(skill) />
                </div>
            </section>
        </div>
    </div>
}
