@page "/monster"
@page "/monster/family"
@page "/monster/location"
@page "/monster/size"
@page "/monster/rarity"
@inject IDataService DataService
@inject NavigationManager NavigationManager

<PageTitle>WonderEgg - Monsters</PageTitle>

<div class="container">
    <div class="row">
        <h1 class="col-12">Monsters</h1>
    </div>
    <div class="row">
        <ul class="nav nav-pills justify-content-center" id="pills-tab" role="tablist">
            <li class="nav-item mx-1" role="presentation">
                <NavLink class="nav-link" href="monster" Match="NavLinkMatch.All">
                    All
                </NavLink>
            </li>
            <li class="nav-item mx-1" role="presentation">
                <NavLink class="nav-link" href="/monster/family">
                    By Family
                </NavLink>
            </li>
            <li class="nav-item mx-1" role="presentation">
                <NavLink class="nav-link" href="/monster/location">
                    By Location
                </NavLink>
            </li>
            <li class="nav-item mx-1" role="presentation">
                <NavLink class="nav-link" href="/monster/size">
                    By Size
                </NavLink>
            </li>
            <li class="nav-item mx-1" role="presentation">
                <NavLink class="nav-link" href="/monster/rarity">
                    By Rarity
                </NavLink>
            </li>
        </ul>
    </div>
    <hr class="mb-3" />
    <div class="tab-content">
        <div class="tab-pane fade @(IsShowActive(Tabs.ALL))" role="tabpanel">
            <div class="row mb-3">
                <section>
                    <MonsterCardGridComponent monsters=@(monsters?.OrderBy(monster => monster.Name)?.ToArray()) />
                </section>
            </div>
        </div>
        <div class="tab-pane fade @(IsShowActive(Tabs.FAMILY))" role="tabpanel">
            @foreach (var family in Enum.GetValues<MonsterFamily>())
            {
                <div class="row">
                    <HeaderLinkComponent href=@($"/monster/family/{Uri.EscapeDataString(family.ToString())}") text=@($"The {family.ToJsonString()} Family") />
                </div>
                <div class="row mb-3">
                    <section>
                        <MonsterCardGridComponent monsters=@(monsters?.Where(monster => monster.Family == family)?.OrderBy(monster => monster.Id)?.ToArray()) />
                    </section>
                </div>
            }
        </div>
        <div class="tab-pane fade @(IsShowActive(Tabs.LOCATION))" role="tabpanel">
            @foreach (var location in Enum.GetValues<MonsterLocationType>())
            {
                <div class="row">
                    <HeaderLinkComponent href=@($"/monster/location/{Uri.EscapeDataString(location.ToString())}") text=@(location.ToJsonString()) />
                </div>
                <div class="row mb-3">
                    <section>
                        <MonsterCardGridComponent monsters=@(monsters?.Where(monster => monster.Locations is not null && monster.Locations.Any(loc => loc.Name == location))?.OrderBy(monster => monster.Id)?.ToArray()) />
                    </section>
                </div>
            }
        </div>
        <div class="tab-pane fade @(IsShowActive(Tabs.SIZE))" role="tabpanel">
            @foreach (var size in Enum.GetValues<MonsterSize>())
            {
                <div class="row">
                    <HeaderLinkComponent href=@($"/monster/size/{Uri.EscapeDataString(size.ToString())}") text=@($"Size {size.ToJsonString()}") />
                </div>
                <div class="row mb-3">
                    <section>
                        <MonsterCardGridComponent monsters=@(monsters?.Where(monster => monster.Size == size)?.OrderBy(monster => monster.Id)?.ToArray()) />
                    </section>
                </div>
            }
        </div>
        <div class="tab-pane fade @(IsShowActive(Tabs.RARITY))" role="tabpanel">
            @foreach (var rarity in Enum.GetValues<MonsterRarity>())
            {
                <div class="row">
                    <HeaderLinkComponent href=@($"/monster/rarity/{rarity}") text=@(rarity.ToJsonString()) />
                </div>
                <div class="row mb-3">
                    <section>
                        <MonsterCardGridComponent monsters=@(monsters?.Where(monster => monster.Rarity == rarity)?.OrderBy(monster => monster.Id)?.ToArray()) />
                    </section>
                </div>
            }
        </div>
    </div>
</div>
